:root {
    /*FONTE*/
    --font-dm-sans: "SM Sans", sans-serif;
    
    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-search-color: #242424;
    --bg-input-search-color: #fff;
}